.tasks {
  &:not(:last-of-type) {
    margin-bottom: 50px;
  }

  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    color: #64c4ed;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      img {
        opacity: 1;
      }
    }

    img {
      margin-left: 15px;
      cursor: pointer;
      opacity: 0;
    }
  }

  &__form {
    margin-top: 20px;

    &-block {
      .button {
        margin-right: 10px;
        margin-top: 15px;
      }
    }

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;

      &:hover {
        opacity: 0.8;
        color: #b4b4b4;
        transition: opacity 0.15s ease-in-out;
      }

      img {
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }
      span {
        font-size: 16px;
        margin-left: 19px;
      }
    }
  }

  &__items {
    margin-top: 30px;

    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;

      color: #c9d1d3;
    }

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &:hover &-actions {
        opacity: 1;
      }

      &-actions {
        display: flex;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#f4f6f8, 2%);
          border-radius: 6px;
          margin-left: 5px;
          cursor: pointer;
          &:hover {
            background-color: darken(#f4f6f8, 2%);
            svg {
              opacity: 0.9;
            }
          }
        }

        svg {
          width: 11px;
          height: 11px;
          opacity: 0.4;
        }
      }

      p {
        margin-left: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
      }

      input {
        margin-left: 15px;
        width: 100%;
        font-size: 16px;
        border: none;
      }
    }
  }

  .checkbox {
    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        svg {
          opacity: 1;
          path {
            stroke: #b3b3b3;
          }
        }
      }
    }

    input {
      display: none;
    }

    input:checked + label {
      background-color: rgba(77, 213, 153, 1);
      border-color: rgba(77, 213, 153, 1);
      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;

      svg {
        transition: opacity 0.15s ease-in-out;
        opacity: 0;
        path {
          stroke: #f2f2f2;
        }
      }
    }
  }
}
